@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0px;
  
}

a {
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #ffffff;
  border-style: none;
  background-color: #44347c;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  text-decoration: none;
  margin: 0 5px;
  &:hover {
    background-color: #0c0b34;
    color: white;
  }
}

a.ghost {
  border-style: solid;
  background-color: transparent;
  border-color: #ffffff;
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.43);
    color: white;
  }
}
.btn-light {
  transition: background-color 0.2s;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #ffffff;
  border-style: solid;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  text-decoration: none;
  margin: 0 5px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.43);
    color: white;
  }
}

table {
  background: rgba(0, 0, 0, 0.438) !important;
}

a.edit-btn {
  margin: 0px;
  padding: 10px 20px;
  border-style: none;
  background-color: transparent;
  border-color: #ffffff;
}

.hover-red {
  font-size: 18px;
  color: #000000;
  transition: color 0.1s;
  &:hover {
    color: red;
  }
}

.hover-blue {
  font-size: 18px;
  color: #000000;
  transition: color 0.1s;
  &:hover {
    color: royalblue;
  }
}

fa-solid {
  color: green !important;
}

h1 {
  font-weight: bold;
  color: white;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
  padding: 30px 7.5%;
  background: url(../assets/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  margin-bottom: 20px;
  color: #ffffff;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info h1,
.user-info p {
  margin: 0;
}

header .spacer {
  flex-grow: 1;
}

table {
  background-color: white !important;
}

canvas {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  filter: saturate(0);
  margin: 0px;
  
}

#particles-js {
  z-index: -99;
  position: absolute;
  width: 100%;
  height: 100%;
}



.sortable {
  cursor: pointer;
}

.modal-dialog {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  transform: translate(0, 0) !important;
  max-width: 450px !important; /* Adjust the value as per your requirement */
  min-width: 450px !important;
  margin-top: 50px !important;
}

.container {
  max-width: 1900px; /* Adjust the value as per your preference */
  margin-left: auto;
  margin-right: auto;
}

.container h2 {
  font-size: 35px; /* Adjust the font size as needed */
  color: #000000 !important;
}

/* Add margin between edit and delete icons */
.edit-delete-icons {
  position: relative;
}

.edit-delete-icons .edit-icon,
.edit-delete-icons .delete-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Adjust the position and add margin */
.edit-delete-icons .edit-icon {
  left: -35px; /* Adjust this value based on your preference */
  margin-right: 10px; /* Add space between the icons */
}

.edit-delete-icons .delete-icon {
  left: -15px; /* Adjust this value based on your preference */
  margin-left: 10px; /* Add space between the icons */
}

/* Show edit and delete icons on hover */
.record-row:hover .edit-delete-icons .edit-icon,
.record-row:hover .edit-delete-icons .delete-icon {
  display: inline-block;
}

/*Filter Modal */
.scaled-content label,
.scaled-content input[type="checkbox"] {
  font-size: 0.8rem; /* Adjust font size for labels and checkboxes */
}

.scaled-footer .btn {
  font-size: 0.9rem; /* Adjust font size for buttons in the footer */
}

.modal-lg {
  max-width: 200% !important ; /* Adjust the maximum width as needed */
}
.checkbox-row {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group {
  flex: 0 0 calc(33.33% - 10px); /* 33.33% width for 3 columns with margin */
  margin: 5px; /* Adjust margin between columns */
}

/*custom_query.php*/
/* CSS adjustments for tables within the filter modal */
.filter-table {
  width: 100%;
  overflow-x: auto;
  max-height: 500px; /* Adjust the maximum height as needed */
}

.filter-table table {
  max-width: 100%;
}

.filter-table th,
.filter-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*Modal Container*/
.custom-modal-dialog {
  max-width: 90%; /* Adjust this value according to your requirement */
}